<div class="row">
	<div class="col-sm">
		<nav class="nav nav-pills flex-column flex-sm-row">
			<%= active_link_to t('.all_papers', default: 'All papers'), annotate_papers_research_path(@research), class: 'flex-sm-fill text-sm-center nav-link' %>
			<%= active_link_to t('.only_annotated_papers', default: 'Only annotated papers'), annotate_papers_research_path(@research, annotated: 1), class: 'flex-sm-fill text-sm-center nav-link' %>
			<%= active_link_to t('.only_unannotated_papers', default: 'Only unannotated papers'), annotate_papers_research_path(@research, annotated: 0), class: 'flex-sm-fill text-sm-center nav-link' %>
		  
		</nav>
	</div>
	<div class="col-sm">
		<div class="float-right">
			<%= link_to t('helpers.buttons.annotations_reports', default: 'Annotations report'), annotations_reports_research_path(@research), class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
</div>	

<% if !@paper.nil? %>	
<div class="row">
	<%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>	

<div class="row paper">
	<%= render @paper %>
</div>

<%= link_to t('.reject', default: 'Reject'), reject_research_paper_path(@research, @paper), class: 'btn btn-primary btn-lg btn-danger', method: :put %>

<h4><%= t('.annotations', default: 'Annotations') %> </h4>
<ul>
  <% @paper.annotations.each do |annotation| %>
    <% if !annotation.new_record? %>
      <li>
        <h4><%= annotation.category_name %></h4>
        <%= sanitize(annotation.body) %>
		<%= link_to 'Remover', annotation_path(annotation), class: 'btn btn-primary btn-sm btn-danger', method: :delete, data: dataConfirmModal %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render 'annotations/form', annotation: [@research, @paper, @annotation] %>


<%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% else %>
	<div class="alert alert-warning" role="alert">
	  <%= t '.no_papers_msg', default: 'No papers' %>
	</div>
<% end %>