<div class="row">
	<div class="col-sm">
		<%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
	<div class="col-sm">
		<div class="float-right">
			<%= link_to t('helpers.buttons.annotations_reports', default: 'Annotations report'), annotations_reports_research_path(@research), class: 'btn btn-lg btn-primary' %>
		</div>		
	</div>
	
</div>	



<div class="row">
	<%= render @paper %>	
</div>

<h4><%= t('.annotations', default: 'Annotations') %> </h4>
<% if @paper.annotation.present? %>
	<div id="annotation">
		<%= render @annotation %>
	</div>
<% else %>
	<%= render 'annotations/form', annotation: [@research, @paper, @annotation] %>
<% end %>
<br />
<%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>