<div class="row">
	<div class="col-sm">
		<nav class="nav nav-pills flex-column flex-sm-row">
			<%= active_link_to t('.all_papers', default: 'All papers'), annotate_papers_research_path(@research), class: 'flex-sm-fill text-sm-center nav-link' %>
			<%= active_link_to t('.only_annotated_papers', default: 'Only annotated papers'), annotate_papers_research_path(@research, annotated: 1), class: 'flex-sm-fill text-sm-center nav-link' %>
			<%= active_link_to t('.only_unannotated_papers', default: 'Only unannotated papers'), annotate_papers_research_path(@research, annotated: 0), class: 'flex-sm-fill text-sm-center nav-link' %>
		  
		</nav>
	</div>
	<div class="col-sm">
		<div class="float-right">
			<%= link_to t('helpers.buttons.annotations_reports', default: 'Annotations report'), annotations_reports_research_path(@research), class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
</div>	

<% if !@paper.nil? %>	
<div class="row">
	<%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>	

<div class="row paper">
	<%= render @paper %>
	<%= link_to t('helpers.links.copy_trans_to_editor', default: 'Copy translation to editor'), translate_research_paper_path(@research, @paper), remote: true, class: 'link-translate' %>
</div>

<h4><%= t('.annotations', default: 'Annotations') %> </h4>
<% if @paper.annotation.present? %>
	<div id="annotation">
		<%= render @annotation %>
	</div>
<% else %>
	<%= render 'annotations/form', annotation: [@research, @paper, @annotation] %>
<% end %>
<br />
<%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% else %>
	<div class="alert alert-warning" role="alert">
	  <%= t '.no_papers_msg', default: 'No papers' %>
	</div>
<% end %>