<div class="card">
  <div class="card-header">
    <h1><%= t('.title', default: 'My researches')%></h1>
  </div>
  <div class="card-body">
    <div class="pull-right">
      <%= link_to new_research_path, class: 'btn btn-success' do %>
        <%= fa_icon 'plus', text: t('buttons.new_research', default:'New research') %>
      <% end %>
    </div>

    <table class="responsive nowrap table table-hover" id="researches-datatable" data-source="<%= researches_path(format: :json)%>">
      <thead>
        <tr>
          <th data-data="description"><%= t('activerecord.attibutes.research.description', default: 'Description') %></th>
          <th data-data="create_at"><%= t('activerecord.attibutes.research.created_at', default: 'Created at') %></th>
          <th data-data="dt_actions"><%= t('dt_actions', default: 'Actions') %></th>
        </tr>
      </thead>
    <tbody>
    </tbody>
  </table>
  </div>

</div>



<br>