<div class="card">
  <h5 class="card-header">
    <%=t '.title', default: 'Research details' %>
  </h5>
  <div class="card-body">
    <h5 class="card-title"><%= @research.description %></h5>
    <div class="card-text">

    	<%= link_to planning_research_path(@research), class: 'btn btn-outline-primary btn-lg' do  %>
    		<%= fa_icon 'pencil', text: t('helpers.links.planning', default: 'Planning') %>
    	<% end %>

    	<%= fa_icon 'arrow-right' %>
    	<%= link_to retrieve_papers_research_path(@research), class: 'btn btn-outline-primary btn-lg' do  %>
    		<%= fa_icon 'search', text: t('helpers.links.retrieve_papers', default: 'Retrieve for papers') %>
    	<% end %>


      <%= fa_icon 'arrow-right' %>
      <%= link_to annotate_papers_research_path(@research), class: 'btn btn-outline-primary btn-lg' do  %>
        <%= fa_icon 'archive', text: t('helpers.links.annotate_papers', default: 'Annotate papers') %>
      <% end %>
   	</div> 
  </div>
</div>

