<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">NITLabSOTA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <%= nav_bar do %>
      <%= nav_link t('navbar.items.home', default: 'Home'), root_url %>
      <%= nav_link t('navbar.items.my_researches', default: 'My researches'), researches_url %>
      <li class="nav-item dropdown">
      <%= link_to root_url, class: 'nav-link dropdown-toggle', "data-toggle": 'dropdown', "aria-haspopup": 'true', "aria-expanded": 'false'  do %>
          <% if I18n.locale == :'pt-BR' %>
            <%= content_tag(:span, '', class: 'flag-icon flag-icon-br') %>
            <%= t("languages.selector.#{I18n.locale}") %>
          <% else %>
            <%= content_tag(:span, '', class: 'flag-icon flag-icon-us') %>
            <%= t("languages.selector.#{I18n.locale}") %>
          <% end %>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
              <%= link_to url_for(locale: :"pt-BR"),  class: 'dropdown-item' do %>
                <span class="flag-icon flag-icon-br"> </span> 
                <%= t('languages.selector.pt-BR', default: 'Portuguese') %>
              <% end %>
              <%= link_to url_for(locale: :en), class: 'dropdown-item'  do %>
                  <span class="flag-icon flag-icon-us"> </span>
                  <%= t('languages.selector.en', default: 'English') %>
              <% end %>
        </div>
      </li>      
    <% end %>

    <% if current_user %>
      <ul class="navbar-nav">
                <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t('navbar.user.my_profile', default: 'My profile')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                        <%= link_to t('navbar.user.preferences', default: 'Preferences'), '#', class: 'dropdown-item'  %>
                        <div class="dropdown-divider"></div>
                        <%= link_to(t('navbar.user.logout', default: 'Logout'),destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
                    </div>
                </li>
            </ul>      
    <% end %>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="<%= t('navbar.search', default: 'Search') %>" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= t('navbar.search', default: 'Search') %></button>
    </form>
    
  </div>
</nav>