<h1><%= @paper.title %></h1>
<h5>DOI: <%= @paper.doi %></h5>
<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= t('activerecord.attributes.paper.abstract', default: 'Abstract') %></h5>
    <p><%= @paper.abstract %></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= t('activerecord.attributes.paper.keywords', default: 'Keywords') %></h5>
    <p><%= @paper.keywords %></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= t('activerecord.attributes.paper.authors', default: 'Authors') %></h5>
    <p><%= @paper.authors %></p>
  </div>
</div>


<div class="card mb-2">
  <div class="card-body">
     <h5 class="card-title"><%= t('activerecord.attributes.paper.source', default: 'Source') %></h5>
    <p><%= @paper.source %></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
 <h5 class="card-title"><%= t('activerecord.attributes.paper.publication_year', default: 'Publication year') %></h5>
    <p><%= @paper.publication_year %></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
     <h5 class="card-title"><%= t('activerecord.attributes.paper.type', default: 'Type') %></h5>
    <p><%= @paper.type %></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
     <h5 class="card-title"><%= t('activerecord.attributes.paper.journal', default: 'Journal') %></h5>
    <p><%= @paper.journal %></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">URL:</h5>
    <p><%= link_to @paper.url, @paper.url %></p>
  </div>
</div>

<%= link_to t('helpers.links.back', default: 'Back'), retrieve_papers_research_path(@research), class: 'btn btn-primary' %>
