<!doctype html>
<html lang="en">
  <head>
    <title>SOTA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>
    <script src="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.js"></script>
    <link href="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body data-locale="<%= I18n.locale %>">
    <%= render 'shared/navigation' %>

    <main role="main" class="container">
      <%= flash_messages %>
      <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
      <%= yield %>
    </main>
  </body>
</html>
